// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

 // Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

body {
    margin-top: 30px ;
    background-color: antiquewhite;
    text-align: center;
}

.container {
    display: inline-block;
    column-width: 170px;
    column-gap: 10px;
    width: 360px;

    @include sm {
        width: 540px;
    }
    @include md {
        width: 720px;
    }
    @include lg {
        column-width: 220px;
        column-gap: 15px;
        width: 940px;
    }
    @include xl {
        width: 1175px;
    }
    @include rwd(1400) {
        column-gap: 30px;
        width: 1250px;
    }
}

.thumbnail {
    display: inline-block;
    width: 170px;
    padding: 0px;

        @include lg {
            width: 220px;
        }

        img {
            //mobile
            width: 170px;
            
            @include lg {
                width: 220px;
            }
        }
        p {
            margin: 5px 0 5px 0;
            padding-right: 8px;
            text-align: end;
        }
}

.pexels {
    float: left;
    padding-left: 90px;
    margin-bottom: 30px;

    h4{
        text-align: initial;
    }

    img {
        width: 400px;
        height: 120px;
    }
}
