// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

 // Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

body {
    background-color: antiquewhite;
    text-align: center;
}

.navbar {
    position: fixed;
    background-color: #282828;
    width: 100%;
    border-radius: 0;
    .navbar-brand {
        color:white;
    }
    .form-inline {
        margin: 8px;
        float: right;
        padding-right: 10px;
        // .btn {
        //     color:green;
        // }
    } 
}

h1{
    margin: 0;
    padding-top: 85px;
}

.container {
    padding-top: 25px;
    display: inline-block;
    column-width: 165px;
    column-gap: 10px;
    width: 400px;

    @include sm {
        width: 540px;
    }
    @include md {
        width: 720px;
    }
    @include lg {
        column-width: 220px;
        column-gap: 15px;
        width: 940px;
    }
    @include xl {
        width: 1175px;
    }
    @include rwd(1400) {
        column-gap: 30px;
        width: 1250px;
    }
}

.thumbnail {
    display: inline-block;
    width: 170px;
    padding: 0px;

        @include lg {
            width: 220px;
        }

        img {
            //mobile
            width: 170px;
            
            @include lg {
                width: 220px;
            }
        }
        p {
            margin: 5px 0 5px 0;
            padding-right: 8px;
            text-align: end;
        }
}

.container-sm {
    float: left;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: #282828;
    width: 100%;
    h4{
        text-align: initial;
        font-size: 15px;
        color: white;
    }

    img {
        float: left;
        width: 150px;
        height: 50px;
    }
}
