<%- include("partials/header") %>
<ul>
    <% info["photos"].forEach(function(image){ %>
        <li>
            <img src="<%= image.src.original %>" />
            <p>Photographer: <strong><%= image.photographer %></strong></p>
        </li>
    <% }) %>
</ul>

<%- include("partials/footer") %>