<%- include("partials/header") %>
<div class="container">
    <% info["photos"].forEach(function(image){ %>
        <div class="imageDesc">
            <img src="<%= image.src.original %>" />
            <p><strong><%= image.photographer %></strong></p>
        </div>
    <% }) %>
</div>

<%- include("partials/footer") %>