<%- include("partials/header") %>
<div class="container">
    <% info["photos"].forEach(function(image){ %>
        <div class="thumbnail">
                <img src="<%= image.src.original %>" />
                <p>By: <strong><%= image.photographer %></strong></p>
        </div>
    <% }) %>
</div>

<%- include("partials/footer") %>