<%- include("partials/header") %>
<div class="container">
    <% info["photos"].forEach(function(image){ %>
        <div class="">
            <img src="<%= image.src.original %>" />
            <p>Photographer: <strong><%= image.photographer %></strong></p>
        </div>
    <% }) %>
</div>

<%- include("partials/footer") %>