body {
    background-color: aquamarine;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(5, auto);  
}

img {
    width: 250px;
    height: auto;
}