body {
  background-color: antiquewhite;
  text-align: center; }

.container {
  display: inline-block;
  column-width: 170px;
  column-gap: 10px;
  width: 360px; }
  @media (min-width: 576px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      column-width: 230px;
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      column-gap: 25px;
      width: 1275px; } }

.imageDesc img {
  width: 170px; }
  @media (min-width: 992px) {
    .imageDesc img {
      width: 230px; } }

.imageDesc p {
  margin: 5px 0 15px 0;
  padding-left: 5px;
  text-align: start; }
